{% extends 'base.html' %}

{% block main %}

    <div class="container">
        <div class="section">
            <h5 class="center-align grey-text text-darken-1">Complete your Profile</h5>
        </div>
        <div class="divider"></div>
        <div class="section">
            <ul class="progressbar">
                <li class="active" style="width:20%;">User</li>
                <li class="active" style="width:20%;">Profile</li>
                <li style="width:20%;">Skills</li>
                <li style="width:20%;">Account</li>
                <li style="width:20%;">Connect Social</li>
            </ul>
        </div>
        <div class="row" style="margin-top:10%;">
            <a href="{% url 'signup_men_account' %}">Next</a>
        </div>
        <!--<div class="section">-->
            <!--<h6>Already a user? <a href="{% url 'login' %}">Login</a></h6>-->
        <!--</div>-->
    </div>

{% endblock %}

{% block custom_script %}

    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>

{% endblock %}